<%= testObjectImports %>
import {<%= className %>} from './<%= dasherize(name) %>'

describe('<%= className %>', () => {
    it('should pass constructor parameters properly from <%= className %>.fromJson()', () => {
<%= consts %>

        const <%= entity %> = <%= className %>.fromJson({<%= comma %>})

<%= expects %>
    })
})
